<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{%  static 'js/script.js' %}" defer></script>

</head>

<body>
    {% block content %}
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    {% block javascript %}
    {% endblock javascript %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Movies Website</h1>
            <p>we try to show all movies</p>
            <a href="create-movie"> <button>Create Movie</button></a>
        </div>
    </div>
    <div style="text-align: center;">
        <div class="search-container">
            <form id="search-form" action="/action_page.php">
                {% csrf_token %}
                <input type="text" id="search-input" placeholder="Search.." name="search">
            </form>
            <div id="result-serach" class="result-card hidden-visible">
            </div>
        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="main-section">
        {% for movie in movies %}
        <div class="card" style=" padding: 10px;">
            <img src="media/{{ movie.image_file }}" alt="Avatar" style="width:100%  ;height: 50%;">
            <div class="container">
                <h4><b>{{ movie.title }}</b></h4>
                <span style="font-weight: bold; color: rgb(44, 88, 0); ">{{ movie.category.name }}</span>
                <p>{{ movie.description }}</p>
            </div>
            <div>
                <h3>The Actors in this film:</h3>
                <div>
                    {% for actor in movie.actors.all %}
                    <div class="realted-actor" >
                        <li style="color: white;list-style: none;">{{actor.name}}</li>
                        {% if actor in movie.actors.all %}
                        <a href="/remove-actore-from-movie/{{actor.id}}/{{movie.id}}">Remove</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <form action="/add-actor-to-move" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{movie.id}}" name="movie_id">
                <select name="actor_id">
                    {% for actor in actors %}
                    <option value="{{actor.id}}">{{actor.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add Actor">
            </form>
        </div>
        {% endfor %}
    </div>
    <div style="background-color: bisque; padding: 30px;">
        <div>
            {% for cat in category %}
            <h4>{{cat.name}}</h4>
            <ul>
                {% for movie in cat.movies.all %}
                <li>{{movie.title}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>

    </div>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script> -->

    

</body>

</html>