<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Movies Website</h1>
            <p>we try to show all movies</p>
            <a href="create-movie"> <button>Create Movie</button></a>
        </div>
    </div>
    <div style="text-align: center;">

        <div id="search">
            <svg viewBox="0 0 420 60" xmlns="http://www.w3.org/2000/svg">
                <rect class="bar" />

                <g class="magnifier">
                    <circle class="glass" />
                    <line class="handle" x1="32" y1="32" x2="44" y2="44"></line>
                </g>

                <g class="sparks">
                    <circle class="spark" />
                    <circle class="spark" />
                    <circle class="spark" />
                </g>

                <g class="burst pattern-one">
                    <circle class="particle circle" />
                    <path class="particle triangle" />
                    <circle class="particle circle" />
                    <path class="particle plus" />
                    <rect class="particle rect" />
                    <path class="particle triangle" />
                </g>
                <g class="burst pattern-two">
                    <path class="particle plus" />
                    <circle class="particle circle" />
                    <path class="particle triangle" />
                    <rect class="particle rect" />
                    <circle class="particle circle" />
                    <path class="particle plus" />
                </g>
                <g class="burst pattern-three">
                    <circle class="particle circle" />
                    <rect class="particle rect" />
                    <path class="particle plus" />
                    <path class="particle triangle" />
                    <rect class="particle rect" />
                    <path class="particle plus" />
                </g>
            </svg>
            <input type=search name=q aria-label="Search for inspiration" />
        </div>

        <div id="results">

        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="main-section">
        {% for movie in movies %}
        <div class="card" style=" padding: 10px;">
            <img src="media/{{ movie.image_file }}" alt="Avatar" style="width:100%  ;height: 50%;">
            <div class="container">
                <h4><b>{{ movie.title }}</b></h4>
                <span style="font-weight: bold; color: rgb(44, 88, 0); ">{{ movie.category.name }}</span>
                <p>{{ movie.description }}</p>
            </div>
            <div>
                <h3>The Actors in this film:</h3>
                <ul>
                    {% for actor in movie.actors.all %}
                    <div style="display: flex; 
                    padding: 8px;
                    margin: 4px;
                    background-color: rgb(253, 125, 125);
                    border-radius: 10px;
                    box-shadow: 10px 5px 10px 5px rgb(165, 165, 165);
                    ">
                        <li style="color: white;list-style: none;">{{actor.name}}</li>
                        {% if actor in movie.actors.all %}
                        <a href="/remove-actore-from-movie/{{actor.id}}/{{movie.id}}">Remove</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <form action="/add-actor-to-move" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{movie.id}}" name="movie_id">
                <select name="actor_id">
                    {% for actor in actors %}
                    <option value="{{actor.id}}">{{actor.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add Actor">
            </form>
        </div>
        {% endfor %}
    </div>
    <div style="background-color: bisque; padding: 30px;">
        <div>
            {% for cat in category %}
            <h4>{{cat.name}}</h4>
            <ul>
                {% for movie in cat.movies.all %}
                <li>{{movie.title}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>

    </div>
</body>

</html>